* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100px;
    width : 100%;
    background: url(images/Header.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    color: rgb(246,250,251);
}

.emtpy {
    height:25px;
    width:25px;
}

.gap {
    height: 25px;
    background-color: rgb(23, 59, 18);
}

body {
    background: linear-gradient(rgb(78, 138, 105), white );
    min-height: 100vh;
}

.main {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.gamebox {
    border-radius: 8px;
    background-color: white;
    width: 45%;
    height: auto;
    padding: 20px;
    margin: 20px;
    box-shadow: 7px 7px 8px #888888;
    cursor: pointer;
}

.buttonbox {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.adjust {
    width: 60%;
    justify-content: space-between;
}

.gameButton {
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    box-shadow: 7px 7px 8px #313131;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gameButton img {
    height: 40px;
    margin-left: 20px
}

.dealerbox {
    border-radius: 8px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    padding-left:0px;
    padding-right:0px;
    margin: 20px;
    box-shadow: 7px 7px 8px #888888;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dealerboxdisplay {
    padding: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fixsize {
    width: 207px;
}

.dealerbox img {
    height: 157px;
    width: auto;
}

.dealerbox h2 {
    width:70%;
    color: black;
    margin-bottom:25px;
}

.back {
    position:relative;
    z-index:1;
    left: 30px;
}

.visible {
    position:relative;
    z-index:2;
    left: -30px;
}

.playerbox {
    border-radius: 8px;
    background: linear-gradient(rgb(23, 59, 18),rgb(78, 138, 105));
    padding: 20px;
    margin: 20px;
    box-shadow: 7px 7px 8px #888888;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.playerbox img {
    height: auto;
    width: 113px;
}

.playerbox h1{
    color: white;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(23, 59, 18);
    color: white;
    padding: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.result {
    position: absolute;
}

.result h1{
    font-size: 11.6em;
    color: black;
    background-color: rgba(197, 197, 197, 0.575);
    width: 100%;
}

.result h2{
    font-size: 8.6em;
    color: black;
    background-color: rgba(197, 197, 197, 0.575);
    width: 100%;
    z-index:3;
}



@media (max-width:1000px) {
    .currentbox h5, .currentbox h1, .currentbox p{
        text-align: center;
    }
}